<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="TextStdOut" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date %-5level %-32logger{32} [ %-20thread ] : %message%n</pattern>
        </layout>
    </appender>

    <root level="TRACE">
        <appender-ref ref="TextStdOut"/>
    </root>
</configuration>